
  @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');



:root {
  /* ——————————————————————————————
            VARIABLES - COLORS
—————————————————————————————— */
  --col-white: white;
  --col-black: black;
  --col-lime: #21f721;
  --col-dark-green: #2a3f33;
  --col-md-green: #8c9287;
  --col-trans-grey: rgb(188, 188, 188, 0.4);
  --col-light-green: #a4b19b;
  --col--green: #bec0bf;
  --col--grey: #83b19a;
  --col--md-grey: #5d5e60;
  --: ;
  --: ;

  /* ——————————————————————————————
 VARIABLES - FONT SIZE & FAMILY
-—————————————————————————————— */


  --font-Header:'Bree Serif', serif;
  --font-: ; 
  --font-: ;
  --font-: ;
  --font-oswald: "Oswald", sans-serif;
  --font-xxs: 0.6em;
  --font-xs: 0.8em;
  --font-sm: 1em;
  --font-ms: 1.2em;
  --font-md: 1.4em;
  --font-lg: 1.8em;
  --font-xl: 2.8em;
  --font-xxl: 4em;
}

/* ——————————————————————————————
     GENERAL - STYLING
—————————————————————————————— */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: var(--font-oswald); /* change this to generic font family */
  font-weight: 100;
  color: var(--col-white);
  margin: 0;
  padding: 0;
  background: var(--col--green);
}

p {
  font-weight: 400;
}

/* ——————————————————————————————
            NAV
—————————————————————————————— */

nav.navigation {
  position: relative;
  align-items: center;
  width: 100%;
  z-index: 9998;
  position: fixed;
}

ul.nav-menu,
ul.nav-menu li,
ul.nav-menu li a {
  list-style: none;
  align-items: center;
  padding: 10px 20px;
  color: var(--col-lime);
  display: flex;
  justify-content: center;
}

ul.nav-menu {
  padding-left: 10px;
  padding-top: 10px;
}
ul.nav-menu li a {
  height: 50px;
  color: var(--col-white);
  text-decoration: none;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
ul.nav-menu li a:hover {
  color: var(--col-lime);
}
.nav-toggle {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: transparent;
}
span.icon-bar {
  position: absolute;
  right: 32px;
  display: block;
  width: 26px;
  height: 2px;
  background-color: var(--col-white);
  -webkit-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.icon-bar:nth-child(1) {
  top: 17px;
}
.icon-bar:nth-child(2) {
  top: 24px;
}
.icon-bar:nth-child(3) {
  top: 31px;
}
.nav-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--col-dark-green);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.nav-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* ——————————————————————————————
    ICON BARS NAVIGATION
—————————————————————————————— */

.nav-toggle.active .icon-bar:nth-child(1) {
  top: 24px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-toggle.active .icon-bar:nth-child(2) {
  width: 0;
}
.nav-toggle.active .icon-bar:nth-child(3) {
  top: 24px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* ——————————————————————————————
         HEADER TEXT
—————————————————————————————— */

.head-text {
  /* change class to suit first section or div in html */
  width: 100%;
  text-align: center;
  background-image: linear-gradient(
      rgba(129, 146, 141, 0.3),
      rgba(48, 50, 58, 0.3)
    ),
    url(/images/wrapper.PNG);
  background-position: center;
  background-size: cover;
  height: 70vh;
  width: 100%;
}

.head-text img {
  width: 60%;
  margin-top: 40px;
}
.head-text h1 {
  color: var(--col-white);
  font-size: var(--font-lg);
  background: transparent;
  padding: 100px 0;
  font-family: var(--font-Header);
}

/* ——————————————————————————————
         ABOUT SECTION
—————————————————————————————— */
.about h2 {
  font-size: var(--font-ms);
  text-align: center;
  padding: 40px 0;
  color: var(--col-dark-green);
}
.about p {
  font-size: var(--font-sm);
  text-align: center;
  color: var(--col-dark-green);
  padding: 20px;
}

.about img {
  width: 100%;
  opacity: 0.7;
}


.text-col-1 {
  background: var(--col-md-green);
  margin: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 2px 14px 0px rgba(27, 41, 33, 0.9);
  box-shadow: 5px 2px 14px 0px rgba(27, 41, 33, 0.5);
}

.text-col-2 {
  background: var(--col-light-green);
  margin: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 2px 14px 0px rgba(27, 41, 33, 0.9);
  box-shadow: 5px 2px 14px 0px rgba(27, 41, 33, 0.5);
}

.text-col-1 h3 {
  font-size: var(--font-sm);
  text-align: center;
  padding: 10px 0;
}

.text-col-1 p {
  font-size: var(--font-xs);
  line-height: 1.5;
  padding: 10px 20px;
  color: var(--col-white);
}

.text-col-2 h3 {
  font-size: var(--font-sm);
  text-align: center;
  padding: 10px 0;
}

.text-col-2 p {
  font-size: var(--font-xs);
  line-height: 1.5;
  padding: 10px 20px;
  color: var(--col-white);
}

/* ——————————————————————————————
         LATEST NEWS SECTION
—————————————————————————————— */

.latest-news {
  text-align: center;
  padding: 50px 10px;
  background: url(/images/flag.JPG);
  background-size: cover;
  background-image: linear-gradient(
      rgba(129, 146, 141, 0.7),
      rgba(48, 50, 58, 0.7)
    ),
    url(/images/flag.JPG);
}

.latest-news h2 {
  color: var(--col-white);
  font-size: var(--font-ms);
  text-transform: uppercase;
  font-style: italic;
}

.latest-news h3 {
  font-size: var(--font-sm);
  text-align: center;
  padding: 30px 10px;
  color: yellow;
}

.latest-news a {
  text-decoration: none;
  color: greenyellow;
  font-weight: 700;
  line-height: 3;
}

/* ——————————————————————————————
         FILLER SECTION SECTION
—————————————————————————————— */


.latest-courses img {
  width: 100%;
  padding: 10px 30px;
}

.latest-courses-head {
  text-align: center;
  font-family: var(--font-oswald);
  font-size: var(--font-md);
  color: var(--col-dark-green);
  padding: 15px 30px;
}

/* ——————————————————————————————————-
     		MEET THE TEAM
————————————————————————————————————— */

.team-grid {
  text-align: center;
  align-items: center;
  padding: 20px;
}

.team-grid h2 {
  padding: 20px 0px;
}

.team-box {
  margin: 5px;
  background: var(--col-md-green);
  padding: 20px;
  border-radius: 10px;
}

.team-box h3 {
  font-size: var(--font-sm);
  padding: 5px;
  color: var(--col-dark-green);
}
.team-box h4 {
  font-size: var(--font-xs);
  padding: 5px;
}

.team-box p {
  font-size: var(--font-xxs);
  padding: 5px;
}

/* ——————————————————————————————————-
     		MEDIA / CRITIQUES
————————————————————————————————————— */

.media {
  text-align: center;
  align-items: center;
  padding: 20px;
  background: var(--col-dark-green);

}

.media h3 {
  color: var(--col--grey);
  font-size: var(--font-xs);
  padding-bottom: 30px;
}

.media-box {
  margin: 10px;
  background: var(--col-md-green);
  padding: 20px;
  border-radius: 10px;
}

.media-box h3 {
  font-size: var(--font-xs);
  padding: 10px;
  color: var(--col-white);
}

.media-box i {
  color: var(--col-dark-green);
  padding: 3px;
}

/* ——————————————————————————————————-
     		        FOOTER
————————————————————————————————————— */

.footer {
 
  text-align: center;
  height: 200px;
}

.useful-links {
  padding: 20px;
}

.useful-links p {
  color: var(--col--md-grey);
  font-weight: 800;
  padding-top: 10px;
}

.useful-links li {
  list-style: none;
  padding-top: 10px;
}
.useful-links a {
  text-decoration: none;
  font-size: var(--font-xs);
  font-weight: bold;
  color: var(--col-dark-green);
}

.follow-us {
  padding: 20px;
}

.follow-us h3 {
  font-size: var(--font-sm);
  color: var(--col-dark-green);
}

.follow-us i {
  color: var(--col-dark-green);
  padding: 5px;
  text-align: center;
}

.copyright {
  font-size: var(--font-xxs);
  text-align: center;
  color: var(--col-dark-green);
  padding: 10px;
}

/* ——————————————————————————————————-
     MEDIA QUERIES - MOBILE DEVICES
————————————————————————————————————— */

/* ------- Navigation Menu ------- */

@media screen and (max-width: 900px) {
  ul.nav-menu {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 0;
    padding: 0;
    overflow: hidden;
  }
  ul.nav-menu.active {
    height: auto;
  }
  ul.nav-menu li {
    width: 100%;
  }
  ul.nav-menu li a {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background-color: var(--col-black); /* background of toggle menu */
  }
  ul.nav-menu li a:hover {
    background-color: var(--col-white);
  }
  .nav-toggle {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .nav-overlay.active {
    visibility: hidden;
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  ul.nav-menu,
  ul.nav-menu li,
  ul.nav-menu li a {
    flex-direction: column;
  }
}


/* ———————————————————————————————————————-
     MEDIA QUERIES - 450px and Above
——————————————————————————————————————————- */
@media screen and (min-width:450px){
.media {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
 }
}





/* ———————————————————————————————————————-
     MEDIA QUERIES - 576 pixels and above
——————————————————————————————————————————- */

@media screen and (min-width: 576px) {
  .head-text img {
    width: 70%;
  }
  .head-text h1 {
    font-size: var(--font-xl);
    padding: 50px 40px;
  }

  .about h2 {
  font-size: var(--font-md);
  text-align: center;
  padding: 60px 20px 0px 20px;
  color: var(--col-dark-green);
  }

 .text-col-2 {
  margin-bottom: 50px;
 } 



 .team-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 60px;
 }

 .team-head {
  text-align: center;
  padding: 30px;
 }

 .media {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
 }

 .media h3 {
  padding-top: 20px;
 }
 .latest-courses {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
}


/* ———————————————————————————————————————-
     MEDIA QUERIES - 800px and Above
——————————————————————————————————————————- */
@media screen and (min-width: 800px){
.about-grid {
  display: flex;
  
}

.about img {
  display: none;
}

.latest-courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


}



/* ———————————————————————————————————————-
     MEDIA QUERIES - LARGE TABLETS & LAPTOP  STYLES
——————————————————————————————————————————- */

@media screen and (min-width: 1100px) {
}
